.wrapper{
	width: 1000px;
	margin: 0 auto;
	&.masCharm{
		width: 960px;

		nav{
			width: 649px;
			header{
				/*GRADIENT*/
				background: #f6f6f6; /* Old browsers */
				background: -moz-linear-gradient(top, #f6f6f6 0%, #808080 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#808080)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #f6f6f6 0%,#808080 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #f6f6f6 0%,#808080 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #f6f6f6 0%,#808080 100%); /* IE10+ */
				background: linear-gradient(to bottom, #f6f6f6 0%,#808080 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#808080',GradientType=0 ); /* IE6-9 */

				h2{
					color: #575757;
					font-size: 21px;
					text-align: center;
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
			.interests{
				background-color: #dcdcdc;
				li{
					display: inline-block;
					color: #424242;
					padding: 3px 10px;
					font-size: 18px;
					margin-left: 4px;
					margin-right: 4px;
					margin-top: 8px;
					margin-bottom: 8px;
				}
				.selected{
					border: 1px solid #acacac;
					color: #591265;
					-moz-box-shadow:    inset 0 0 5px #acacac;
				   	-webkit-box-shadow: inset 0 0 5px #acacac;
				   	box-shadow:         inset 0 0 5px #acacac;

				}
			}
		}
		
	}
	.col2{
		width: 660px;
		float: left;
	}
	&.masCharm{
		.col2{
			width: 649px;
		}	
	}
	
	.col3{
		width: 310px;
		float: left;
		.ad{
			text-align: center;
			margin: 0 auto;
			margin-bottom: 5px;
		}
	}
	.grid{
		width: 649px;
		.box{
			text-align: center;
			width: 310px;
			float: left;
			box-sizing:border-box;
			background-color: #f1f1f1;
			border: 1px solid #ada9af;
			margin: 5px 5px;
			padding-top: 5px;
			-moz-box-shadow:    1px 1px 1px 1px #ccc;
			-webkit-box-shadow: 1px 1px 1px 1px #ccc;
			box-shadow:         1px 1px 1px 1px #ccc;
			h2{
				font-weight: 700;
				text-align: left;
				font-size: 17px;
				padding-left: 8px; 
				padding-right: 8px;
			}
			p{
				text-align: left;
				padding-left: 8px; 
				padding-right: 8px;
				padding-bottom: 8px;
			}
			img{
				text-align: center;
			}
		}
	}
}//wrapper

.box_feature{
	width: 317px;
	background-color: #e3e1e9;
	float: left;
	margin: 5px;
	&.amigos{
		header{
			background-color: #3260af; //blue		
		}
		
	}
	&.pasando{
		header{
			background-color: #570f63;//purple	
		}
		
	}

	header{
		color: white;
		padding: 5px;
		text-align: center;
		font-size: 24px;
	}

	table{
		width: 317px;
		text-align: center;
		margin: 0 auto;
		border-left: 1px solid #97959b;
		border-right: 1px solid #97959b;
		border-bottom: 1px solid #97959b;
		-moz-box-shadow:    inset 0 0 8px #000000;
	   	-webkit-box-shadow: inset 0 0 8px #000000;
	   	box-shadow:         inset 0 0 8px #000000;
		th{
			img{
				position: relative;
				top: 8px;
			}
		}
		tr{
			height:144px;
		}
		tr:first-child{
			 height: auto;
		}
	}//table

	article{
		border-bottom: 1px solid black;
		padding: 5px 10px;
	}
	.social{
		h1{
			width: 150px;
			float: left;
		}
		
		.texto{
			width: 150px;
			float: left;
			padding-right: 3px;
		}
		img{
			float: left;
		}
	}

	a{
		color: black;
	}
	a:hover{
		color: #570f63;
	}

	.titulo{
		font-weight: 500;
		font-size: 17px;
	}
	.texto{
		font-weight: 300;

	}

}//box_feature


.tabbed_info{
	width: 300px;
	margin-bottom: 10px;
	header{
		h3{
			width: 100px;
			float: left;
			box-sizing:border-box;
			padding: 5px;
			-webkit-border-top-left-radius: 15px;
			-webkit-border-top-right-radius: 15px;
			-moz-border-radius-topleft: 15px;
			-moz-border-radius-topright: 15px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			background-color: #6e6e6e;
			color: white;
			border-top: 1px solid #bdb6bf;
			border-left: 1px solid #bdb6bf;
			border-right: 1px solid #bdb6bf;
			text-align: center;
			-moz-box-shadow:    inset 0 0 10px #000000;
		   	-webkit-box-shadow: inset 0 0 10px #000000;
		   	box-shadow:         inset 0 0 10px #000000;

			&.selected{
				background-color: #dfdbe5;
				color:black;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
			}
		}
	}
	.body{
		border-left: 1px solid #bdb6bf;
		border-right: 1px solid #bdb6bf;
		border-bottom: 1px solid #bdb6bf;
		background-color: #dfdbe5;
		padding: 10px 15px;
		height: 340px;
	}
}