/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

br.clear {
  clear: both; }

strong {
  font-weight: 500; }

a {
  text-decoration: none; }

body {
  font-family: 'Yanone Kaffeesatz', 'Arial', 'sans-serif';
  background-color: #faf3fe; }

.cols .col1 {
  width: 440px; }
.cols .col2 {
  width: 250px; }
.cols .col3 {
  width: 310px; }

.main_header {
  color: white;
  font-size: 18px;
  font-weight: 300;
  min-width: 1000px; }
  .main_header .wrapper {
    width: 1000px;
    margin: 0 auto; }
    .main_header .wrapper .header {
      background-image: url("/frontend/assets/img/background.png");
      background-repeat: no-repeat;
      width: 100%;
      position: relative;
      height: 412px; }
      .main_header .wrapper .header #logo {
        position: absolute;
        left: 15%;
        top: 20%; }
      .main_header .wrapper .header .navigation {
        position: relative;
        left: 8%;
        top: 53%;
        width: 38%; }
        .main_header .wrapper .header .navigation .principal ul {
          background-color: #714179;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 221%;
          height: 30px;
          border-bottom: 3px groove #cbcbcb;
          border-top: 3px groove #cbcbcb;
          border-right: 3px groove #cbcbcb;
          border-left: 3px groove #cbcbcb; }
        .main_header .wrapper .header .navigation .principal li {
          display: inline; }
        .main_header .wrapper .header .navigation .principal a {
          color: #FFFFFF;
          position: relative;
          top: 20%;
          padding-left: 3%;
          padding-right: 3%;
          font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
          font-weight: 700; }
          .main_header .wrapper .header .navigation .principal a:hover {
            color: #77437f;
            background-color: #cbcbcb;
            -moz-box-shadow: inset 0 0 5px #000000;
            -webkit-box-shadow: inset 0 0 5px #000000;
            box-shadow: inset 0 0 5px #000000; }
        .main_header .wrapper .header .navigation .iconitos {
          position: relative;
          left: 110%;
          top: -19px; }
        .main_header .wrapper .header .navigation .secondary-navigation {
          float: left; }
          .main_header .wrapper .header .navigation .secondary-navigation ul {
            color: #77437f;
            background-color: #ced4c7;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 370px;
            border-radius: 15px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            -moz-box-shadow: inset 0 0 5px #000000;
            -webkit-box-shadow: inset 0 0 5px #000000;
            box-shadow: inset 0 0 5px #000000; }
          .main_header .wrapper .header .navigation .secondary-navigation li {
            display: inline; }
            .main_header .wrapper .header .navigation .secondary-navigation li .vertical-line {
              display: inline;
              background-color: #000;
              width: 1px;
              height: 100%; }
          .main_header .wrapper .header .navigation .secondary-navigation a {
            color: #77437f;
            position: relative;
            top: 20%;
            padding-left: 3%;
            padding-right: 3%;
            font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
            font-weight: 700; }
            .main_header .wrapper .header .navigation .secondary-navigation a:hover {
              color: #77437f;
              position: relative;
              top: 20%;
              padding-left: 3%;
              padding-right: 3%;
              font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
              font-weight: 700; }
    .main_header .wrapper .banners {
      text-align: center; }

.contenido {
  position: relative;
  top: -93px;
  width: 1000px;
  margin: 0 auto; }

.portadas {
  position: relative;
  left: 3%; }
  .portadas .portadascontainer {
    width: 655px;
    height: 500px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc; }

.portadas-wrapper {
  float: left; }

.lateral {
  float: right;
  position: relative;
  top: 35px; }

.tabs li {
  /* Makes a horizontal row */
  float: left;
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; }

.tabs a {
  /* Make them block level
     and only as wide as they need */
  float: left;
  text-decoration: none;
  /* Default colors */
  color: white;
  background: #6e6e6e;
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 102px;
  height: 28px; }

.tabs .active {
  /* Highest, active tab is on top */ }

.tabs .active a {
  /* Colors when tab is active */
  background: #e2e0e8;
  color: black; }

.tabs li:before, .tabs li:after,
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0; }

/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after, .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .active:after, .tabs .active:before,
.tabs .active a:after, .tabs .active a:before {
  content: ""; }

.tabs .active:before, .tabs .active:after {
  background: #fff7f7;
  /* Squares below circles */ }

/* Squares */
.tabs li:before, .tabs li:after {
  background: white;
  width: 10px;
  height: 10px; }

.tabs li:before {
  left: -10px; }

.tabs li:after {
  right: -10px; }

/* Circles */
.tabs li a:after, .tabs li a:before {
  width: 20px;
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white; }

.tabs .active a:after, .tabs .active a:before {
  background: #6f6f6f; }

/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: #fcf5f5; }

.tabs li a:before {
  left: -20px; }

.tabs li a:after {
  right: -20px; }

.textinchidihaxor {
  position: relative;
  right: -22px;
  text-align: center;
  top: 5px; }

.articulos {
  background: #e2e0e8; }
  .articulos ul {
    position: relative;
    left: 25px; }

.footer {
  background: url("/frontend/assets/img/footer/footerbackground2.png");
  background-repeat: repeat-x;
  background-position: left;
  background-origin: content-box;
  height: 350px;
  min-width: 1000px; }
  .footer .wrapper {
    width: 1000px;
    margin: 0 auto; }
    .footer .wrapper div {
      float: left;
      padding-left: 15px; }
    .footer .wrapper .upthings {
      position: relative;
      top: 125px; }
      .footer .wrapper .upthings .imagenrevista img {
        height: 185px; }
      .footer .wrapper .upthings .suscribete {
        color: #FFFFFF;
        position: relative;
        top: 30px;
        border-right: 3px solid #FCF8FB;
        padding-right: 10px; }
        .footer .wrapper .upthings .suscribete h2 {
          font-size: 140%;
          font-weight: bold;
          height: 6px; }
        .footer .wrapper .upthings .suscribete h1 {
          font-weight: bold;
          font-size: 485%;
          height: 79px; }
      .footer .wrapper .upthings .contacto {
        position: relative;
        top: 30px;
        color: #FFFFFF;
        border-right: 3px solid #FCF8FB;
        padding-right: 10px; }
        .footer .wrapper .upthings .contacto h1 {
          font-weight: bold;
          font-size: 160%; }
        .footer .wrapper .upthings .contacto p {
          font-size: 115%; }
      .footer .wrapper .upthings .sliderarticulos-wrapper {
        height: 195px;
        position: relative;
        top: 25px;
        background-color: #581064; }
        .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos {
          height: 108px;
          width: 385px; }
          .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos ul {
            float: left;
            position: relative;
            top: 15px; }
          .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos .padul {
            position: relative;
            padding-left: 147px; }
          .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos a {
            color: white; }
        .footer .wrapper .upthings .sliderarticulos-wrapper p {
          font-size: 125%;
          color: white; }
