.wrapper {
  width: 1000px;
  margin: 0 auto; }
  .wrapper.masCharm {
    width: 960px; }
  .wrapper .col3 {
    width: 310px;
    background-color: blue;
    float: left; }
  .wrapper .grid {
    width: 649px;
    float: left; }
    .wrapper .grid .box {
      text-align: center;
      width: 310px;
      float: left;
      box-sizing: border-box;
      background-color: #f1f1f1;
      border: 1px solid #ada9af;
      margin: 5px 5px;
      padding-top: 5px;
      -moz-box-shadow: 3px 3px 5px 6px #ccc;
      -webkit-box-shadow: 3px 3px 5px 6px #ccc;
      box-shadow: 3px 3px 5px 6px #ccc; }
      .wrapper .grid .box h2 {
        font-weight: 700;
        text-align: left;
        font-size: 17px;
        padding-left: 8px;
        padding-right: 8px; }
      .wrapper .grid .box p {
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px; }
      .wrapper .grid .box img {
        text-align: center; }
