/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;  
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

br.clear {
  clear: both; }

strong {
  font-weight: 500; }

a {
  text-decoration: none; }

body{
  font-family: 'Yanone Kaffeesatz', 'Arial', 'sans-serif';
  background-color: #faf3fe;
}

//esto estaba como 2cols
.cols{
  .col1{
    width: 440px;
  }
  .col2{
    width: 250px;
  }
  .col3{
    width: 310px;
  }
}

.main_header{
    color:white;
    font-size: 18px;
    font-weight: 300;
    min-width: 1000px;
    .wrapper{
      width: 1000px;
      margin: 0 auto;
      .header{
        background-image: url("/frontend/assets/img/background.png");
        background-repeat: no-repeat;
          width: 100%;
          position: relative;
          height: 412px;
          #logo{
            position: absolute;
            left: 15%;
            top: 20%;
          }
        .navigation{
          position: relative;
          left: 8%;
          top: 53%;
          width: 38%;
          .principal{
           ul{
              background-color: #714179;
              list-style-type: none;
              margin: 0;
              padding: 0;
              width: 221%;
              height: 30px;
              border-bottom: 3px groove #cbcbcb; 
              border-top: 3px groove #cbcbcb;
              border-right: 3px groove #cbcbcb;
              border-left: 3px groove #cbcbcb;
            }
            li{
              display: inline;
            }
            a{
              color: #FFFFFF;
              position: relative;
              top: 20%;
              padding-left: 3%;
              padding-right: 3%;
              font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
              font-weight: 700;
              &:hover{
                color: #77437f;
                background-color: #cbcbcb;
                -moz-box-shadow:    inset 0 0 5px #000000;
                 -webkit-box-shadow: inset 0 0 5px #000000;
                 box-shadow:         inset 0 0 5px #000000;
              }
            }  
          }
          .iconitos{
            position: relative;
            left: 110%;
            top: -19px;
          }
          .secondary-navigation{
              float: left;
             ul{
              color: #77437f;
              background-color: #ced4c7;
              list-style-type: none;
              margin: 0;
              padding: 0;
              width: 370px;
              border-radius:15px;
              border-top-right-radius: 0px;
              border-top-left-radius: 0px;
              -moz-box-shadow:    inset 0 0 5px #000000;
               -webkit-box-shadow: inset 0 0 5px #000000;
               box-shadow:         inset 0 0 5px #000000;
             }
            li{
              display: inline;
              .vertical-line{
                display: inline;
                background-color: #000;
                width: 1px;
                height: 100%;
              }
            }
            a{
              color: #77437f;
              position: relative;
              top: 20%;
              padding-left: 3%;
              padding-right: 3%;
              font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
              font-weight: 700;
              &:hover{
                color: #77437f;
                position: relative;
                top: 20%;
                padding-left: 3%;
                padding-right: 3%;
                font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
                font-weight: 700;
              }
            }
          }
        }
      }
      .banners{
        text-align: center;
      }
    }
}

.contenido{
  position: relative;
  top: -93px;
  width: 1000px;
  margin: 0 auto;
}

.portadas{
  position: relative;
  left: 3%;
  .portadascontainer{
    width: 655px;
    height: 500px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }
}

.portadas-wrapper{
  float: left;
}

.lateral{
  float:right;
  position:relative;
  top: 35px;
}

.tabs li { 
  /* Makes a horizontal row */
  float: left; 
  
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
}
.tabs a { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  text-decoration: none;
  
  /* Default colors */ 
  color: white;
  background:  #6e6e6e; 
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  width: 102px;
  height: 28px;
}
.tabs .active {
  /* Highest, active tab is on top */
}
.tabs .active a { 
  /* Colors when tab is active */
  background: #e2e0e8; 
  color: black; 
}
.tabs li:before, .tabs li:after, 
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after,   .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .active:after,   .tabs .active:before, 
.tabs .active a:after, .tabs .active a:before {
  content: "";
}
.tabs .active:before, .tabs .active:after {
  background: rgb(255, 247, 247);
  /* Squares below circles */
}
/* Squares */
.tabs li:before, .tabs li:after {
  background: white;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;      
}
.tabs li:after { 
  right: -10px;
}
/* Circles */
.tabs li a:after, .tabs li a:before {
  width: 20px; 
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: white;

}
.tabs .active a:after, .tabs .active a:before {
  background:rgb(111, 111, 111);
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: rgb(252, 245, 245);
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}

.textinchidihaxor{
  position: relative;
  right: -22px;
  text-align: center;
  top: 5px;
}

.articulos{
  background: #e2e0e8;
  ul{
    position:relative;
    left: 25px;
  }
}

.footer{
  background: url("/frontend/assets/img/footer/footerbackground2.png");
  background-repeat: repeat-x;
  background-position:left;
  background-origin:content-box;
  height: 350px;
  min-width: 1000px;
  .wrapper{
      width: 1000px;
      margin: 0 auto;
      height: 100%;
    div{
      float: left;
      padding-left: 15px;
    }
    .upthings{
      position: relative;
      top: 79px;
      .imagenrevista{
        img{
          height: 185px;
        }
      }
        .suscribete{
          color: #FFFFFF;
          position:relative;
          top: 30px;
          border-right: 3px solid #FCF8FB;
          padding-right: 10px;
          h2{
            font-size: 140%;
            font-weight: bold;
            height: 6px;
          }
          h1{
            font-weight: bold;
            font-size: 450%;
            height: 79px;
          }
        }
        .contacto{
            position:relative;
            top: 30px;
            color: #FFFFFF;
            border-right: 3px solid #FCF8FB;
            padding-right: 10px;
            h1{
              font-weight: bold;
              font-size: 160%;
            }
            p{
              font-size: 115%;
            }
        }
        .sliderarticulos-wrapper{
          height: 195px;
          position: relative;
          top: 25px;
           #sliderarticulos{
            height: 108px;
            width: 385px;
            background-color: #581064;
            ul{
              float: left;  
              position: relative;
              top: 15px;
            }
            .padul{
              position: relative;
              padding-left: 147px;
            }
            a{
              color: white;
            }
           }
           p{
            font-size: 125%;
            color: white;
           }
        }
    }
    .sociales{
      position: relative;
      top: 60px;
      left: 30px;
      font-size: 120%;
    a{
      float: left;
      color: #FFFFFF;
      padding-left: 45px;
      }
      p{
        position:relative;
        left: 38px;
        bottom: 34px;
      }
      .logoup{
        position:relative;
        bottom: 5px;
        left: 15px;
      }
      .logoright{
        position:relative;
        bottom: 20px;
        right: 5px;
      }
    }
    .navigacion{
      position:relative;
      top: 13%;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid #FCF8FB;
      }
      li{
        display: inline;
        padding-left: 20px;
        border-right: 2.5px solid #FCF8FB;
        padding-right: 20px;
      }
      a{
        color: white;
        font-size: 120%;
      }
      .lastli{
        display: inline;
        padding-left: 20px;
        border-right: 0px solid #FCF8FB;
        padding-right: 20px; 
      }
    }
  }
}

.conocenos{
 .upper{
    .left{
      background: url("../img/content/conocenos/manchas/mancha3.png");
      background-repeat: repeat-x;
      height: 355px;
      width: 95%;
      position: relative;
      left: 1.5% ;
        .sliderNosotros-wrapper{
          width: 51.2%;
          height: 87%;
          -moz-box-shadow:    3px 3px 5px 6px #ccc;
          -webkit-box-shadow: 3px 3px 5px 6px #ccc;
          box-shadow:         3px 3px 5px 6px #ccc;
          float: left;
            img{
              width: 465px;
            }
            .nosotrosimg{
              height: 293px;
              width: 464px;
              -webkit-box-shadow: 0 8px 22px -6px black;
              -moz-box-shadow: 0 8px 22px -6px black;
              box-shadow: 0 8px 22px -12px black;
            }
        }
        .perfil{
          position: relative;
          top: 10%;
          background: #460c50;
          float: right;
          width: 48.7%;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          -webkit-box-shadow: 0 8px 22px -6px black;
          -moz-box-shadow: 0 8px 22px -6px black;
          box-shadow: 0 8px 22px -12px black;
          .texto{
            padding: 7%;
            color: white;
            padding-left: 10%;
            h1{
              text-align: left;
              font-size: 200%;
            }
            p{
              font-size: 110%;
            }
          }
        }
    }
 }

 .middle{
    background: url("../img/content/conocenos/manchas/mancha3.png");
    background-repeat: no-repeat;
    height: 400px;
    .quienesomos{
      width: 42%;
      background: #460c50;
      position: relative;
      left: 4.5%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      float: left;
      .texto{
        color: white;
        padding: 10%;
        h1{
          font-size: 170%;
          font-weight: bold;
        }
        p{
          font-size: 110%;
        }
      }
    }
    .filosofia{
      width: 400px;
      float: right;
      position: relative;
      right: 95px;
      h1{
        font-weight: bold;
        font-size: 250%;
      }
      p{
        font-weight: bold;
        font-size: 103%;
      }
      .imagenes{
        position: relative;
        top: 30%;
        .derecha{
          float: left;
          width: 330px;
        }
        .izquierda{
          float: right;
          position: relative;
          left: 20px;
        }
      }
    }
 }
 .videos{
  position: relative;
  top: 50px;
  height: 460px;
  background: url("../img/content/conocenos/manchas/manchas1.png");
  .izquierda{
    float: left;
  }
  .derecha{
    float: right;
  }
  img{
      position: relative;
      top: 3px;
    }
 }
}