/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

br.clear {
  clear: both; }

strong {
  font-weight: 500; }

a {
  text-decoration: none; }

body {
  font-family: 'Yanone Kaffeesatz', 'Arial', 'sans-serif';
  background-color: #faf3fe; }

.cols .col1 {
  width: 440px; }
.cols .col2 {
  width: 250px; }
.cols .col3 {
  width: 310px; }

.main_header {
  color: white;
  font-size: 18px;
  font-weight: 300;
  min-width: 1000px; }
  .main_header .wrapper {
    width: 1000px;
    margin: 0 auto; }
    .main_header .wrapper .header {
      background-image: url("/frontend/assets/img/background.png");
      background-repeat: no-repeat;
      width: 100%;
      position: relative;
      height: 412px; }
      .main_header .wrapper .header #logo {
        position: absolute;
        left: 15%;
        top: 20%; }
      .main_header .wrapper .header .navigation {
        position: relative;
        left: 8%;
        top: 53%;
        width: 38%; }
        .main_header .wrapper .header .navigation .principal ul {
          background-color: #714179;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 221%;
          height: 30px;
          border-bottom: 3px groove #cbcbcb;
          border-top: 3px groove #cbcbcb;
          border-right: 3px groove #cbcbcb;
          border-left: 3px groove #cbcbcb; }
        .main_header .wrapper .header .navigation .principal li {
          display: inline; }
        .main_header .wrapper .header .navigation .principal a {
          color: #FFFFFF;
          position: relative;
          top: 20%;
          padding-left: 3%;
          padding-right: 3%;
          font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
          font-weight: 700; }
          .main_header .wrapper .header .navigation .principal a:hover {
            color: #77437f;
            background-color: #cbcbcb;
            -moz-box-shadow: inset 0 0 5px #000000;
            -webkit-box-shadow: inset 0 0 5px #000000;
            box-shadow: inset 0 0 5px #000000; }
        .main_header .wrapper .header .navigation .iconitos {
          position: relative;
          left: 110%;
          width: 150px; }
          .main_header .wrapper .header .navigation .iconitos a {
            position: relative;
            bottom: 20px; }
        .main_header .wrapper .header .navigation .secondary-navigation {
          float: left; }
          .main_header .wrapper .header .navigation .secondary-navigation ul {
            color: #77437f;
            background-color: #ced4c7;
            list-style-type: none;
            margin: 0;
            padding: 5px;
            width: 235px;
            border-radius: 15px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            -moz-box-shadow: inset 0 0 5px #000000;
            -webkit-box-shadow: inset 0 0 5px #000000;
            box-shadow: inset 0 0 5px #000000; }
          .main_header .wrapper .header .navigation .secondary-navigation li {
            display: inline; }
            .main_header .wrapper .header .navigation .secondary-navigation li .vertical-line {
              display: inline;
              background-color: #000;
              width: 1px;
              height: 100%; }
          .main_header .wrapper .header .navigation .secondary-navigation a {
            color: #77437f;
            position: relative;
            top: 20%;
            padding-left: 3%;
            padding-right: 3%;
            font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
            font-weight: 700; }
            .main_header .wrapper .header .navigation .secondary-navigation a:hover {
              color: #77437f;
              position: relative;
              top: 20%;
              padding-left: 3%;
              padding-right: 3%;
              font-family: 'Yanone Kaffeesatz','Arial','sans-serif';
              font-weight: 700; }
    .main_header .wrapper .banners {
      text-align: center; }

.contenido {
  position: relative;
  top: -93px;
  width: 1000px;
  margin: 0 auto; }

.portadas {
  position: relative;
  left: 3%;
  background: url("../img/portadas/manchasvideos1.png"); }
  .portadas .portadascontainer {
    width: 655px;
    height: 500px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc; }

.portadas-wrapper {
  float: left; }

.lateral {
  float: right;
  position: relative;
  top: 35px; }

.tabs li {
  /* Makes a horizontal row */
  float: left;
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; }

.tabs a {
  /* Make them block level
     and only as wide as they need */
  float: left;
  text-decoration: none;
  /* Default colors */
  color: white;
  background: #6e6e6e;
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 102px;
  height: 28px; }

.tabs .active {
  /* Highest, active tab is on top */ }

.tabs .active a {
  /* Colors when tab is active */
  background: #e2e0e8;
  color: black; }

.tabs li:before, .tabs li:after,
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0; }

/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after, .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .active:after, .tabs .active:before,
.tabs .active a:after, .tabs .active a:before {
  content: ""; }

.tabs .active:before, .tabs .active:after {
  background: #fff7f7;
  /* Squares below circles */ }

/* Squares */
.tabs li:before, .tabs li:after {
  background: white;
  width: 10px;
  height: 10px; }

.tabs li:before {
  left: -10px; }

.tabs li:after {
  right: -10px; }

/* Circles */
.tabs li a:after, .tabs li a:before {
  width: 20px;
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white; }

.tabs .active a:after, .tabs .active a:before {
  background: #6f6f6f; }

/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: #fcf5f5; }

.tabs li a:before {
  left: -20px; }

.tabs li a:after {
  right: -20px; }

.textinchidihaxor {
  position: relative;
  right: -22px;
  text-align: center;
  top: 5px; }

.articulos {
  background: #e2e0e8; }
  .articulos ul {
    position: relative;
    left: 25px;
    height: 219px; }

.footer {
  background: url("/frontend/assets/img/footer/footerbackground2.png");
  background-repeat: repeat-x;
  background-position: left;
  background-origin: content-box;
  height: 350px;
  min-width: 1000px; }
  .footer .wrapper {
    width: 1000px;
    margin: 0 auto;
    height: 100%; }
    .footer .wrapper div {
      float: left;
      padding-left: 15px; }
    .footer .wrapper .upthings {
      position: relative;
      top: 79px; }
      .footer .wrapper .upthings .imagenrevista img {
        height: 185px; }
      .footer .wrapper .upthings .suscribete {
        color: #FFFFFF;
        position: relative;
        top: 30px;
        border-right: 3px solid #FCF8FB;
        padding-right: 10px; }
        .footer .wrapper .upthings .suscribete h2 {
          font-size: 140%;
          font-weight: bold;
          height: 6px; }
        .footer .wrapper .upthings .suscribete h1 {
          font-weight: bold;
          font-size: 450%;
          height: 79px; }
      .footer .wrapper .upthings .contacto {
        position: relative;
        top: 30px;
        color: #FFFFFF;
        border-right: 3px solid #FCF8FB;
        padding-right: 10px; }
        .footer .wrapper .upthings .contacto h1 {
          font-weight: bold;
          font-size: 160%; }
        .footer .wrapper .upthings .contacto p {
          font-size: 115%; }
      .footer .wrapper .upthings .sliderarticulos-wrapper {
        height: 195px;
        position: relative;
        top: 25px; }
        .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos {
          height: 108px;
          width: 385px;
          background-color: #581064; }
          .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos ul {
            float: left;
            position: relative;
            top: 15px; }
          .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos .padul {
            position: relative;
            padding-left: 147px; }
          .footer .wrapper .upthings .sliderarticulos-wrapper #sliderarticulos a {
            color: white; }
        .footer .wrapper .upthings .sliderarticulos-wrapper p {
          font-size: 125%;
          color: white; }
    .footer .wrapper .sociales {
      position: relative;
      top: 60px;
      left: 30px;
      font-size: 120%; }
      .footer .wrapper .sociales a {
        float: left;
        color: #FFFFFF;
        padding-left: 45px; }
      .footer .wrapper .sociales p {
        position: relative;
        left: 38px;
        bottom: 34px; }
      .footer .wrapper .sociales .logoup {
        position: relative;
        bottom: 5px;
        left: 15px; }
      .footer .wrapper .sociales .logoright {
        position: relative;
        bottom: 20px;
        right: 5px; }
    .footer .wrapper .navigacion {
      position: relative;
      top: 13%; }
      .footer .wrapper .navigacion ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid #FCF8FB; }
      .footer .wrapper .navigacion li {
        display: inline;
        padding-left: 20px;
        border-right: 2.5px solid #FCF8FB;
        padding-right: 20px; }
      .footer .wrapper .navigacion a {
        color: white;
        font-size: 120%; }
      .footer .wrapper .navigacion .lastli {
        display: inline;
        padding-left: 20px;
        border-right: 0px solid #FCF8FB;
        padding-right: 20px; }

.conocenos .upper .left {
  background: url("../img/content/conocenos/manchas/mancha3.png");
  background-repeat: repeat-x;
  height: 369px;
  width: 95%;
  position: relative;
  left: 1.5%; }
  .conocenos .upper .left .sliderNosotros-wrapper {
    width: 51.2%;
    height: 87%;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    float: left; }
    .conocenos .upper .left .sliderNosotros-wrapper img {
      width: 465px; }
    .conocenos .upper .left .sliderNosotros-wrapper .nosotrosimg {
      height: 293px;
      width: 464px;
      -webkit-box-shadow: 0 8px 22px -6px black;
      -moz-box-shadow: 0 8px 22px -6px black;
      box-shadow: 0 8px 22px -12px black; }
  .conocenos .upper .left .perfil {
    position: relative;
    top: 10%;
    background: #460c50;
    float: right;
    width: 48.7%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0 8px 22px -6px black;
    -moz-box-shadow: 0 8px 22px -6px black;
    box-shadow: 0 8px 22px -12px black; }
    .conocenos .upper .left .perfil .texto {
      padding: 7%;
      color: white;
      padding-left: 10%; }
      .conocenos .upper .left .perfil .texto h1 {
        text-align: left;
        font-size: 200%; }
      .conocenos .upper .left .perfil .texto p {
        font-size: 110%; }
.conocenos .middle {
  background: url("../img/content/conocenos/manchas/mancha3.png");
  background-repeat: no-repeat;
  height: 400px; }
  .conocenos .middle .quienesomos {
    width: 42%;
    background: #460c50;
    position: relative;
    left: 4.5%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left; }
    .conocenos .middle .quienesomos .texto {
      color: white;
      padding: 10%; }
      .conocenos .middle .quienesomos .texto h1 {
        font-size: 170%;
        font-weight: bold; }
      .conocenos .middle .quienesomos .texto p {
        font-size: 110%; }
  .conocenos .middle .filosofia {
    width: 400px;
    float: right;
    position: relative;
    right: 95px; }
    .conocenos .middle .filosofia h1 {
      font-weight: bold;
      font-size: 250%; }
    .conocenos .middle .filosofia p {
      font-weight: bold;
      font-size: 103%; }
    .conocenos .middle .filosofia .imagenes {
      position: relative;
      top: 30%; }
      .conocenos .middle .filosofia .imagenes .derecha {
        float: left;
        width: 330px; }
      .conocenos .middle .filosofia .imagenes .izquierda {
        float: right;
        position: relative;
        left: 20px; }
.conocenos .videos {
  position: relative;
  height: 460px;
  background: url("../img/content/conocenos/manchas/manchas1.png"); }
  .conocenos .videos .izquierda {
    float: left; }
  .conocenos .videos .derecha {
    float: right; }
  .conocenos .videos img {
    position: relative;
    top: 3px; }

.colaboradores .colaboradores-wrapper .upper {
  padding-left: 1%; }
  .colaboradores .colaboradores-wrapper .upper .colaborador {
    float: left;
    padding-left: 40px;
    padding-top: 20px;
    width: 280px; }
    .colaboradores .colaboradores-wrapper .upper .colaborador img {
      height: 135px;
      width: 130px;
      float: left; }
    .colaboradores .colaboradores-wrapper .upper .colaborador .texto {
      padding-top: 30%;
      position: relative;
      left: 3%; }
      .colaboradores .colaboradores-wrapper .upper .colaborador .texto h1 {
        font-size: 110%;
        font-weight: bold; }
  .colaboradores .colaboradores-wrapper .upper .colaboradores-contenido {
    width: 975px;
    height: 350px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc; }

.colaborador-contenido {
  position: relative;
  left: 1%;
  top: 1px;
  height: 270px;
  width: 975px;
  -moz-box-shadow: 1px 5px 5px 5px #ccc;
  -webkit-box-shadow: 1px 5px 5px 5px #ccc;
  box-shadow: 1px 5px 5px 5px #ccc; }
  .colaborador-contenido .paddit {
    padding: 3%; }
    .colaborador-contenido .paddit img {
      float: left;
      height: 225px;
      width: 225px; }
    .colaborador-contenido .paddit .texto {
      width: 500px;
      height: 226px;
      border-right: solid 1px black;
      float: left; }
      .colaborador-contenido .paddit .texto .headercolab {
        padding-left: 5%;
        padding-top: 6%; }
        .colaborador-contenido .paddit .texto .headercolab h1 {
          font-size: 200%;
          font-weight: bold; }
        .colaborador-contenido .paddit .texto .headercolab h2 {
          font-weight: bold;
          font-size: 120%;
          float: left; }
        .colaborador-contenido .paddit .texto .headercolab p {
          position: relative;
          left: 5px;
          font-size: 19; }
      .colaborador-contenido .paddit .texto .descripcolab {
        padding-left: 5%; }
        .colaborador-contenido .paddit .texto .descripcolab p {
          font-size: 20; }
    .colaborador-contenido .paddit .contacto {
      float: right;
      width: 190px; }
      .colaborador-contenido .paddit .contacto .texto-padd {
        width: 155px;
        padding-left: 10px; }
        .colaborador-contenido .paddit .contacto .texto-padd h1 {
          font-size: 200%;
          font-weight: bold; }
        .colaborador-contenido .paddit .contacto .texto-padd .img {
          height: 30px;
          width: 35px; }
        .colaborador-contenido .paddit .contacto .texto-padd h2 {
          font-weight: bold;
          font-size: 110%; }
    .colaborador-contenido .paddit .tipocolaborador {
      float: right; }
      .colaborador-contenido .paddit .tipocolaborador .texto-tipocolaborador {
        width: 180px; }
        .colaborador-contenido .paddit .tipocolaborador .texto-tipocolaborador h1 {
          font-weight: bold;
          font-size: 160%; }
        .colaborador-contenido .paddit .tipocolaborador .texto-tipocolaborador p {
          font-size: 120%; }

.articulos-colaborador {
  position: relative;
  left: 1%;
  top: 1px;
  width: 975px;
  height: 270px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc; }
  .articulos-colaborador .escritorpor {
    float: left;
    width: 170px;
    padding: 2%; }
    .articulos-colaborador .escritorpor h1 {
      font-size: 210%;
      font-weight: bold; }
    .articulos-colaborador .escritorpor p {
      font-size: 110%; }
  .articulos-colaborador #articulos-section {
    float: right;
    height: 185px;
    width: 765px;
    position: relative; }
    .articulos-colaborador #articulos-section .conjunto-primeravera {
      padding-top: 13%; }
      .articulos-colaborador #articulos-section .conjunto-primeravera .articulin {
        cursor: pointer;
        height: 90px;
        width: 170px;
        float: left;
        padding-left: 1%; }
        .articulos-colaborador #articulos-section .conjunto-primeravera .articulin img {
          height: 90px;
          width: 90px;
          float: left; }
        .articulos-colaborador #articulos-section .conjunto-primeravera .articulin h1 {
          color: black;
          font-weight: bold; }
        .articulos-colaborador #articulos-section .conjunto-primeravera .articulin .texto {
          position: relative;
          left: 4%; }
    .articulos-colaborador #articulos-section .conjunto {
      padding-top: 5%; }
      .articulos-colaborador #articulos-section .conjunto .articulin {
        height: 90px;
        width: 170px;
        float: left;
        padding-left: 1%; }
        .articulos-colaborador #articulos-section .conjunto .articulin img {
          height: 90px;
          width: 90px;
          float: left; }
        .articulos-colaborador #articulos-section .conjunto .articulin h1 {
          color: black;
          font-weight: bold; }
        .articulos-colaborador #articulos-section .conjunto .articulin .texto {
          position: relative;
          left: 4%; }
    .articulos-colaborador #articulos-section .controls {
      position: relative; }
      .articulos-colaborador #articulos-section .controls a {
        padding-left: 1.5%; }

.Articulo {
  width: 1000px; }
  .Articulo .articulo-content {
    width: 65%;
    float: left; }
    .Articulo .articulo-content .articulo-wrapper {
      padding-left: 3%; }
      .Articulo .articulo-content .articulo-wrapper h1 {
        font-weight: bold;
        font-size: 350%; }
      .Articulo .articulo-content .articulo-wrapper h2 {
        font-size: 150%; }
      .Articulo .articulo-content .articulo-wrapper img {
        width: 100%;
        height: 360px;
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow: 3px 3px 5px 6px #ccc; }

.formasuscribete {
  padding-left: 4%;
  width: 670px; }
  .formasuscribete .izquierda {
    float: left; }
    .formasuscribete .izquierda .nominput {
      position: relative;
      right: -16%; }
    .formasuscribete .izquierda .cdinput {
      position: relative;
      right: -28%; }
    .formasuscribete .izquierda .telinput {
      position: relative;
      right: -14%; }
    .formasuscribete .izquierda .corrinput {
      position: relative;
      right: -26%; }
  .formasuscribete .derecha {
    float: right;
    padding-right: 10%; }
    .formasuscribete .derecha .colinput {
      position: relative;
      right: -25%; }
    .formasuscribete .derecha .seleinput {
      position: relative;
      right: -26%; }
  .formasuscribete p {
    float: left; }
  .formasuscribete #error {
    border: 1px solid red; }

.todaesacosa {
  width: 750px; }
  .todaesacosa .formaregala {
    padding-left: 4%;
    width: 710px; }
    .todaesacosa .formaregala .izquierda {
      float: left; }
      .todaesacosa .formaregala .izquierda .nominput {
        position: relative;
        right: -16%; }
      .todaesacosa .formaregala .izquierda .cdinput {
        position: relative;
        right: -28%; }
      .todaesacosa .formaregala .izquierda .telinput {
        position: relative;
        right: -14%; }
      .todaesacosa .formaregala .izquierda .corrinput {
        position: relative;
        right: -22%; }
      .todaesacosa .formaregala .izquierda .abajonominput {
        position: relative;
        left: 2%; }
      .todaesacosa .formaregala .izquierda .abajocorrinput {
        position: relative;
        left: 13%; }
    .todaesacosa .formaregala .derecha {
      float: right;
      padding-right: 10%; }
      .todaesacosa .formaregala .derecha .colinput {
        position: relative;
        right: -25%; }
      .todaesacosa .formaregala .derecha .seleinput {
        position: relative;
        right: -26%; }
    .todaesacosa .formaregala p {
      float: left; }
    .todaesacosa .formaregala .datos {
      position: relative;
      right: 3%; }
    .todaesacosa .formaregala #error {
      border: 1px solid red; }

.lower .left {
  float: left; }
.lower .right {
  float: right; }
  .lower .right .lomasnuevo {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc; }
    .lower .right .lomasnuevo article {
      width: 298px;
      height: 140px;
      border-bottom-style: dashed;
      text-align: center; }
      .lower .right .lomasnuevo article img {
        margin: 0 auto; }
      .lower .right .lomasnuevo article a {
        color: black; }
      .lower .right .lomasnuevo article .texto {
        /*width: 142px;
        float: right;
        padding-top: 3%;
        padding-right: 5%;
        h1{
          font-weight: bold;
          font-size: 160%;
        }
        p{
          font-size: 115%;
        }*/ }
      .lower .right .lomasnuevo article hr {
        border-top: 1px dotted black;
        color: black;
        background-color: #fff;
        height: 1px;
        width: 50%; }

.botonpaypal {
  background-image: url(/frontend/assets/img/regalacharm/paypal.png);
  height: 38px;
  width: 300px;
  display: block;
  text-indent: -9999px;
  position: relative;
  right: -4%; }
